@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: #08192d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    width: 100%;
    height: 100px;
}

.logo {
    padding: 30px;
}

.menu-head {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    gap: 0px 10px;
    align-items: center;
    width: 600px;
    height: 80px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-right: 50px;
}

.menu-head a {
    color: #fff;
    text-decoration: none;
    padding: 44px 10px;
}

.menu-head a:hover {
    color: #fc0254;
}

.menu-login {
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    align-items: center;
    width: 275px;
    color: #fff;
}

.menu-login .menu-item {
    color: #979aa5;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.menu-login .menu-item-login {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.menu-login .menu-item-sign {
    color: #fc0254;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
}

.banner {
    display: flex;
    flex-direction: row;
    background-color: #0a183d;
    color: #fff;
    height: 700px;
    padding: 100px;
    padding-top: 150px;
}

.banner-title {
    margin-right: 100px;
}

.banner-title h1 {
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;   
}

.banner-title b {
    color: #fc0254;

}

.banner-title p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500; 
    margin-top: 20px;
    width: 420px;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}

.banner-buttons button {
    width: 200px;
    height: 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
}

#but-1 {
    padding: 23px 20px;
    margin: 0px 8px 20px 0px; 
    background-color: #fc0254;
}

#but-2 {
    padding: 23px 20px;
    background-color: #383b70;
}

.banner-desc-main {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding: 105px;
}

.banner-desc-title h1 {
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 558px;
    height: 120px;
}

.banner-desc {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.banner-desc p {
    margin-bottom: 35px;
    padding-top: 10px;
    color: #6a7080;
    line-height: 1.8;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.banner-desc #but-3 {
    width: 200px;
    height: 70px;
    background-color: #fc0254;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 23px 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: #0a183d;
    width: 100%;
    height: 300px;
    padding: 100px 80px;
}

.footer #copy {
    padding: 10px 0px;
    color: #505565;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.footer #copy a {
    text-decoration: none;
    color: #007bff;
}

.footer aside {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.footer aside h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.footer aside a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6a7080;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}